@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Identity;
@attribute [Authorize]
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<Usuario> UserManager

<div class="sidebar"  style="background-image: linear-gradient(180deg, rgb(45, 48, 148) 0%, @color 70%);">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth" style="background: rgb(255,255,255);
       background: linear-gradient(105deg, @color  0%, #FFFF 100%);">
        <LoginDisplay />
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code{

    Usuario usr;
    string color;

    protected override async Task OnInitializedAsync()
    {
        await LogUsername();
    }

    private async Task LogUsername()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            usr = await UserManager.GetUserAsync(user);
            color = usr.Color;
        }
        else
        {
            color = "#2777B8";
        }
    }
}